.card {
  flex: 1;
  background: white;
  padding: 30px;
}

.card h3 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #0f172a;
}

.card p {
  color: #475569;
}

.card-icon{
    width: 78px;
    height: 78px;
}
