.hero {
  height: 60vh;
  padding: 60px;
  display: flex;
  align-items: center;
}

.hero-text {
  max-width: 600px;
}

.hero-text h2 {
  font-size: 54px;
  color: #0f172a;
  margin-bottom: 10px;
}

.hero-text span {
  color: #facc15;
}

.hero-text p {
  color: #475569;
  font-size: 20px;
  margin-bottom: 20px;
}



