.navbar {
  background: white;
  border-radius: 20px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title{
    display: flex;
    align-items: center;
}

.titleColor{
  color: #2563eb;
}

.title img{
    width: 45px;
    height: 40px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #1e293b;
  font-weight: 600;
}

.btn-signUp{
  background-color:white;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  border-color: #facc15;
  color: #facc15;
}

.btn-signUp:hover{
  background-color:  #facc15;
   color: white;
}

.btn-login {
  background: white;
  color: #2563eb;
  border-color: #2563eb;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-login:hover{
    background-color:#2563eb;
    color: white;
    transition: backgroud-color 0.3s;
}