.hero-section {
  background-image: url("../../assets//icon_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  padding: 20px;

  min-height: 90vh;
}