*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #eef3f8;
}

.container-register{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.register-card{
    width: 100%;
    max-width: 1400px;
    min-height: 730px;
    background-image: url("../assets/icon_backgroudRegister.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% center;
    border-radius: 30px;
    padding: 30px;
    padding-top: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.logo-text{
     display: flex;
     align-items: center;
}

.logo-text img{
    padding-right: 5px;
    border-radius: 40px;
}

.register-card header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;   
}

.register-card nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #0a1445;
    font-weight: 500;
}

.content-register{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-side h2{
    font-size: 4rem;
    color: #0a1445;
    margin-top: 80px;
    line-height: 1.1;
}

.left-side span{
    color: #f7c62f;
}

.left-side p{
    font-size: 1.2rem;
    color: #4b5563;
    max-width: 500px;
    line-height: 1.6;
     
}

.right-side{
    width: 450px;
}

.right-side form{
    background: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 35px;
    margin-right: 60px;
}

.right-side form h1{
    color: #0a1445;
    font-size: 2rem;
}

.right-side form p{
    color: #6b7280;
    margin-bottom: 10px;
}

.right-side form input{
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #d1d5db;
    outline: none;
    font-size: 1rem;
}

.right-side form button{
    padding: 16px;
    border: none;
    background: #f7c62f;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.right-side form button:hover{
    background-color:#e0b126;
}